body {
    font-family: "Metal Gear", serif;
    margin: 0;
    background-image: url(/images/background_secret.png);
    background-repeat: no-repeat;
    background-size: cover; /* ou contain selon ce que tu veux */
    background-attachment: fixed; /* c’est la valeur par défaut */
    background-position: top center;
}

.image {
    top: 11rem;
    display: flex;
    position: relative;
    justify-content: center;
}

.marietomaria {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    z-index: 10;
}

.marietomaria:hover {
    cursor: pointer;
}

#marie {
    width: 720px;
}

#marie.invisible {
    opacity: 0;
}

#maria {
    top: -150px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#maria.visible {
    opacity: 1;
}