body {
    margin: 0;
    background-image: url(/images/s4o.png);
    background-repeat: no-repeat;
    background-size: cover; /* ou contain selon ce que tu veux */
    background-attachment: fixed; /* c’est la valeur par défaut */
    background-position: top center;
}

#overlay {
  position: fixed;        /* reste fixe même au scroll */
  top: 0;
  left: 0;
  width: 100vw;           /* prend toute la largeur de la fenêtre */
  height: 100vh;          /* prend toute la hauteur */
  object-fit: cover;      /* pour bien remplir sans déformer */
  z-index: 9999;          /* au-dessus de tout */
  pointer-events: none; /* empêche de bloquer les clics quand caché */
  opacity: 0;
  transition: opacity 0.5s ease;
}

#overlay.visible {
  opacity: 1;
  pointer-events: all; /* permet d’interagir si tu veux */
}

.header {
    display: flex;
    justify-content: space-around;
}

.title {
    background-color: red;
    font-size: 35px;
    text-decoration: underline;
}

.title_img{
    width: 65px;
}

.header img:hover {
    width: 130px;
}

.liste {
    display: flex;
    justify-content: space-around;
}

.categorie ul a{
    background-color: blue;
    font-size: 25px;
    color: wheat;
    text-decoration: none;
}

.liste li a:hover {
    background-color: rgb(226, 73, 167);
    font-size: 125px;
}

.banderole {
    width: 100px;
    position: relative;
    transition: transform 0.3s ease; /* pour que le zoom soit fluide */
}

.banderole:hover {
    transform: scale(1.3); /* l’image survolée grossit */
    z-index: 10; /* pour qu’elle passe au-dessus des autres */
}

.bande {
  display: flex;
}

.banderole {
  margin-left: 10px;
  margin-top: 10px; /* crée un décalage vers le bas */
}

.btn {
    background-color: rgb(245, 222, 179,0);
    border: 0;
}


.raiden_title{
    margin: 80px 60px 0px;
    text-decoration: underline;
    color: rgb(124, 224, 241);
    font-size: 35px;
}

.description_raiden {
    margin: 80px 60px 0px;
    display: flex;
    justify-content: space-around;
}

.raiden_img {
    width: 350px;
}

.description_txt_raiden {
    background-color: rgba(0, 255, 115, 0.459);
    font-size: 20px;
    width: 375px;
}

.the_boss_title {
    margin: 80px 60px 0px;
    text-decoration: underline;
    color: rgb(241, 96, 169);
    font-size: 35px;
}

.description_the_boss {
    margin: 80px 60px 0px;
    display: flex;
    justify-content: space-around;
}

.description_txt_the_boss {
    background-color: rgba(115, 0, 138, 0.459);
    font-size: 20px;
    width: 450px;
}

.big_boss_title {
    margin: 80px 60px 0px;
    text-decoration: underline;
    color: rgb(255, 0, 0);
    font-size: 35px;
}

.description_big_boss {
    margin: 80px 60px 0px;
    display: flex;
    justify-content: space-around;
}

.description_txt_big_boss {
    background-color: rgba(214, 4, 4, 0.562);
    font-size: 20px;
    width: 450px;
}
